/* Generel CSS for hele siden */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: Futura Lt BT;
}

/* Scrollbar */
::-webkit-scrollbar{
    width: .5em;
}

::-webkit-scrollbar-thumb{
    background: gray;
    border-radius: 100vw;
}

/* Responsive Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    flex-wrap: wrap;
}

.brand-title a{
    font-size: 2.5rem;
    margin: .5rem;
    display: flex;
    align-self: center;
    font-family: Lobster;
    color: #84641F;
    text-decoration: none;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li{
    list-style: none;
    font-size: 1.2rem;
}

.navbar-links li a{
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover{
    text-decoration: underline;
}

.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

/* Videoen og tilhørende tekst */
.intro video{
    width: 100%;
    height: auto;
    position: relative;
}

.intro video:hover{
    filter: brightness(50%);
}

#artikel1-link a{
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 2rem;
    color: white;
}

#artikel1-link a:hover{
    text-decoration: underline;
}

#artikel2-link a{
    position: absolute;
    top: 40%;
    right: 10%;
    font-size: 2em;
    color: white;
}

#artikel2-link a:hover{
    text-decoration: underline;
}

/* Sektion med udvalg af øl */
#udvalg{
    display: flex;
    margin-top: 10rem;
    flex-wrap: wrap;
    justify-content: space-between;
}

#udvalg img{
    width: 13rem;
}

#udvalg figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 25%;
}

.udvalg-items{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.smag-cirkel{
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
}

#udvalg figcaption{
    font-size: 2rem;
}

.beskrivelse-smag{
    border: solid 1px;
    margin-top: 2rem;
    font-size: 1.5rem;
    text-align: center;
    list-style: none;
}

.smag-cirkel img{
    height: auto;
}

/* Brygnings-processen */
#proces{
    display: flex;
    flex-direction: column;
    margin-top: 20rem;
}

#proces h2{
    font-size: 4rem;
}

#proces h3{
    font-size: 3rem;
    align-self: center;
    margin-top: 10rem;
}

.brygning-proces{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.brygning-proces p{
    font-size: 1.5rem;
    max-width: 42.5%;
    text-align: center;
}

.brygning-proces img{
    width: 50rem;
}

.processer{
    display: flex;
}

.proces-1,
.proces-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    flex-direction: column;
    max-width: 50%;
    font-size: 2rem;
}

.proces-1 p{
    font-size: 2rem;
    max-width: 65%;
    text-align: center;
}

.proces-2 p{
    font-size: 2rem;
    max-width: 65%;
    text-align: center;
}

.proces-1 img,
.proces-2 img{
    width: auto;
    height: 25rem;
}

/* Footer */
footer{
    width: 100%;
}

footer hr{
    border: solid 1px;
}


.social-icons{
    display: flex;
    justify-content: center;
}

.social-icons a{
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    color: black;
}

.social-icons a i{
    font-size: 2em;
    opacity: 75%;
}

.social-icons a:hover i{
    transition: .5s;
    opacity: 100%;
}

.footer-nav{
    margin: 30px 0;
}

.footer-nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer-nav ul li a{
    color: black;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: .7;
    transition: .5s;
}

.footer-nav ul li a:hover{
    opacity: 1;
}

/* Media Query for mobiler (Iphone 14 Pro Max) */
@media (max-width: 430px){
    /* Responsive Navbar */
    .navbar-links{
        display: none;
        width: 100%;
    }

    .toggle-button{
        display: flex;
        top: 1.5rem;
    }

    .navbar{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-items: flex-start;
    }

    .brand-title{
        order: -1;
        align-self: center;
    }

    .navbar-links ul{
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li{
        text-align: center;
    }

    .navbar-links li a{
        padding: .5rem 1rem;
    }

    .navbar-links.active{
        display: flex;
    }

    /* Videoen og tilhørende tekst */
    .intro video{
        display: none;
    }

    #artikel1-link a,
    #artikel2-link a{
        display: none;
    }

    /* Sektion med udvalg af øl */
    #udvalg{
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        margin: 0;
        gap: 5rem;
    }

    #udvalg img{
        width: 15rem;
    }

    .smag-cirkel{
        gap: 1rem;
        justify-content: center;
        width: 100%;
    }

    .beskrivelse-smag{
        width: 25rem;
        align-self: center;
    }

    /* Brygnings-processen */
    #proces h2{
        text-align: center;
        font-size: 3rem;
    }

    #proces h3{
        text-align: center;
        font-size: 3rem;
    }

    .brygning-proces img{
        width: 100%;
    }

    .brygning-proces p{
        max-width: 100%;
    }

    .processer{
        flex-direction: column;
        align-items: center;
    }

    .proces-1,
    .proces-2{
        max-width: 100%;
    }

    .proces-1 h4{
        text-align: center;
        font-size: 2rem;
    }

    .proces-1 p{
        max-width: 100%;
    }

    .proces-2 img{
        height: auto;
        width: 100%;
    }

    .proces-2 h4{
        text-align: center;
        font-size: 2rem;
    }

    .proces-2 p{
        max-width: 100%;
    }
}

/* Media Query for større mobiler/mindre tablets */
@media (min-width: 431px) and (max-width: 820px){
    /* Responsive Navbar */
    .navbar-links{
        display: none;
        width: 100%;
    }

    .toggle-button{
        display: flex;
        top: 1.5rem;
    }

    .navbar{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-items: flex-start;
    }

    .brand-title{
        order: -1;
        align-self: center;
    }

    .navbar-links ul{
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li{
        text-align: center;
    }

    .navbar-links li a{
        padding: .5rem 1rem;
    }

    .navbar-links.active{
        display: flex;
    }

    /* Videoen og tilhørende tekst */
    .intro video{
        filter: brightness(50%);
    }

    #artikel1-link a{
        top: 20%;
        left: 5%;
        text-decoration: underline;
    }

    #artikel2-link a{
        top: 20%;
        right: 3%;
        text-decoration: underline;
    }

    /* Sektion med udvalg af øl */
    .udvalg-items{
        width: 100%;
    }

    .smag-cirkel{
        margin-bottom: 10rem;
        justify-content: center;
    }

    .smag-cirkel img{
        width: 100%;
    }

    /* Brygnings-processen */
    .brygning-proces img{
        width: 100%;
    }
    
    .brygning-proces p{
        max-width: 100%;
        font-size: 2rem;
    }

    #proces h3{
        font-size: 5rem;
        text-align: center;
    }

    .processer{
        flex-direction: column;
        align-items: center;
    }

    .proces-1,
    .proces-2{
        margin-top: 10rem;
        max-width: 100%;
    }

    .proces-1 img{
        width: 100%;
        height: auto;
    }

    .proces-1 h4{
        font-size: 3.5rem;
    }

    .proces-1 p{
        max-width: 100%;
    }

    .proces-2 img{
        height: auto;
        width: 100%;
    }

    .proces-2 h4{
        font-size: 3.5rem;
    }

    .proces-2 p{
        max-width: 100%;
    }
}

/* Media Query for store tablets (iPad Pro) */
@media (min-width: 821px) and (max-width: 1024px){

    /* Responsive Navbar */
    .navbar-links{
        display: none;
        width: 100%;
    }

    .toggle-button{
        display: flex;
        top: 1.5rem;
    }

    .navbar{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-items: flex-start;
    }

    .brand-title{
        order: -1;
        align-self: center;
    }

    .navbar-links ul{
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li{
        text-align: center;
    }

    .navbar-links li a{
        padding: .5rem 1rem;
    }

    .navbar-links.active{
        display: flex;
    }

    /* Videoen og tilhørende tekst */
    .intro video{
        height: auto;
        width: 100%;
        filter: brightness(50%);
    }

    #artikel1-link a{
        top: 20%;
        text-decoration: underline;
    }

    #artikel2-link a{
        top: 20%;
        text-decoration: underline;
    }


    /* Sektion med udvalg af øl */
    .udvalg-items{
        width: 50%;
    }

    .smag-cirkel{
        margin-bottom: 10rem;
        justify-content: center;
    }

    /* Brygnings-processen */
    .brygning-proces img{
        width: 100%;
    }
    
    .brygning-proces p{
        max-width: 100%;
        font-size: 2rem;
    }

    #proces h3{
        font-size: 5rem;
    }

    .processer{
        flex-direction: column;
        align-items: center;
    }

    .proces-1,
    .proces-2{
        margin-top: 10rem;
        max-width: 100%;
    }

    .proces-1 img{
        width: 100%;
        height: auto;
    }

    .proces-1 h4{
        font-size: 3.5rem;
    }

    .proces-1 p{
        max-width: 100%;
    }

    .proces-2 img{
        height: auto;
        width: 100%;
    }

    .proces-2 h4{
        font-size: 3.5rem;
    }

    .proces-2 p{
        max-width: 100%;
    }
}