*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Futura Lt BT;
}

/* Scrollbar */
::-webkit-scrollbar{
    width: .5em;
}

::-webkit-scrollbar-thumb{
    background: gray;
    border-radius: 100vw;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    flex-wrap: wrap;
}

.brand-title a{
    font-size: 2.5rem;
    margin: .5rem;
    display: flex;
    align-self: center;
    font-family: Lobster;
    color: #84641F;
    text-decoration: none;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li{
    list-style: none;
    font-size: 1.2rem;
}

.navbar-links li a{
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
}

.navbar-links li:hover{
    text-decoration: underline;
}

.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

/* Opskrifter */

.text-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opskrift-artikel{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opskrift-artikel h1{
    font-size: 3rem;
    position: absolute;
    top: 15rem;
}

.opskrift-artikel p{
    margin-top: 25rem;
    font-size: 2rem;
}

.pictures{
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.opskrift-artikel img{
    height: 20rem;
}

.opskrift-artikel a{
    text-decoration: none;
    color: black;
    text-align: center;
    cursor: pointer;
}

.shadow-drop-2-center:hover {
animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes shadow-drop-2-center{
    0%{transform:translateZ(0);
        box-shadow:0 0 0 0 transparent}
    100%{transform:translateZ(50px);
        box-shadow:0 0 20px 0 rgba(0,0,0,.35)}}

.opskrifter-1,
.opskrifter-2,
.opskrifter-3,
.opskrifter-4{
    display: flex;
    gap: 20rem;
}

.opskrift-artikel figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
}

/* Footer */
footer{
    width: 100%;
}

footer hr{
    border: solid 1px;
}


.social-icons{
    display: flex;
    justify-content: center;
}

.social-icons a{
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    color: black;
}

.social-icons a i{
    font-size: 2em;
    opacity: 75%;
}

.social-icons a:hover i{
    transition: .5s;
    opacity: 100%;
}

.footer-nav{
    margin: 30px 0;
}

.footer-nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer-nav ul li a{
    color: black;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: .7;
    transition: .5s;
}

.footer-nav ul li a:hover{
    opacity: 1;
}

/* Media Query for mobiler (Iphone 14 Pro Max) */
@media (max-width: 430px){
    /* Navbar */
    .navbar-links{
        display: none;
        width: 100%;
    }

    .toggle-button{
        display: flex;
        top: 1.5rem;
    }

    .navbar{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-items: flex-start;
    }

    .brand-title{
        order: -1;
        align-self: center;
    }

    .navbar-links ul{
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li{
        text-align: center;
    }

    .navbar-links li a{
        padding: .5rem 1rem;
    }

    .navbar-links.active{
        display: flex;
    }

    /* Quiz */
    main p{
        text-align: center;
        font-size: 1.65rem;
    }

    .quiz-container{
        width: 100%;
    }

    .quiz-container h2{
        font-size: 2rem;
    }

    /* Opskrifter */
    .buttons{
        gap: 1rem;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .opskrifter-1,
    .opskrifter-2,
    .opskrifter-3,
    .opskrifter-4{
        flex-direction: column;
    }

    .opskrift-artikel img{
        height: 25vh;
    }

    #ipa,
    #sour,
    #pilsner,
    #dubbel{
        width: 48%;
    }
}